
##Thumbnails created by windows##
Thumbs.db
[Tt]humbs.db 

#####Folders#####
packages
packages/
bin
obj
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
_ReSharper.*
[Tt]est[Rr]esult*
[Oo]bj


#####Files#####
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.user
*.[Cc]ache
*.log
*.lib
*.sbr
*.resharper
*.DS_Store
*.scc
*.Publish.xml
testimpactdata.sdf